body{
    margin:0px;
    padding:0px;
    border:0px;
    height:60em;
}

.wrapper {

    height:33%;
    border-bottom:solid;
    border-color:lightblue;
    
}
.wrapper header{
    
    font-family: 'Titan One', cursive;
    font-size: 30px;
    padding-top:10px;
    background:white;
    color:black;
    text-align:center;    
}
.wrapper header img{
    width:20%;
}
.wrapper nav{
    
    background:white;
    font-family: 'Fredoka One', cursive;
}

.wrapper nav ul {
    display:flex;
    flex-direction:row;
    justify-content:center;
    list-style:none;
    text-align:center;
    transition:0.2;
}
.wrapper nav ul li{
   line-height:25px;
   width:160px;
   border-radius: 25px;
   border-style:solid;
   border-width:2px;  
}
.wrapper nav ul li.active{
    
   background:rgb(105, 181, 233);
   border-style:none;
}
.wrapper nav ul li a{
    text-decoration:none;
    color: black;
}
.wrapper nav ul li:hover{
    background-color:rgb(73, 208, 215);
    text-decoration:none;
    color: white;
    opacity:0.6px;
}
.wrapper nav ul li a:hover{
    text-decoration:none;
    color:white;
}

.page{

    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin-left:20px;
    margin-right:20px;
    
}
.page div{
    width:40%;
    text-align:center;
    font-family: 'Titan One', cursive;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    flex-wrap: wrap;
}
.page div h1{
    color:blue;
}
.page div div.message1{
    width:100%;
    padding-left:25px;
    padding-right:25px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}
.page div div.message1 h3{
    width:100%;
    padding-left:15px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(31, 20, 128);
    font-weight:bold;
}
.page div div.message1 p{
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    display:flex;
}
.page div div.message1 a{
    font-family: Arial, Helvetica, sans-serif;
}
.page div .page{
    margin-top:0;
}

.page div div.news1{
    width:100%;
    padding-left:25px;
    padding-right:25px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}
.page div div.news1 h3{
    width:100%;
    padding-left:15px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(31, 20, 128);
    font-weight:bold;
}
.page div div.news1 p{
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    display:flex;
}
.page div div.news1 a{
    font-family: Arial, Helvetica, sans-serif;
}

footer div.foot{
    display:absolute;
    border-style:ridge;
    height:10%;
    border-bottom:1px;
    position:fixed;
    width:100%;
    bottom:0;
    font-size:30px;
    padding-left:10%;
}
footer div.foot h6{
    margin:0 0 0 0;
    color:rgb(14, 37, 162);
}
footer div.foot a{
    margin:0 0 0 0;
    color:rgb(14, 37, 162);
}
.about{
    
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
}
.about p{
    width:60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:22px;
}