body{
    margin:0px;
    padding:0px;
    border:0px;
}

.wrapper {

    height:60px;
    display:flex;
    flex-direction:row;
    border-bottom:solid;
    border-color:lightblue;
    transition:0.2;
    
}
.wrapper header{
    
    font-family: 'Titan One', cursive;
    font-size: 30px;
    width:50%;
    padding-top:10px;
    padding-left:10px;
    background:white;
    color:black;
    
}
.wrapper nav{
    
    width:50%;
    text-align: right;
    background:white;
    font-family: 'Fredoka One', cursive;
}

.wrapper nav ul {
    list-style:none;
    text-align:center;
}
.wrapper nav ul li{
    
    display:inline-block;
   line-height:25px;
   width:160px;
   border-radius: 25px;
   border-style:solid;
   border-width:2px;
   
    
}
.wrapper nav ul li.active{
    
   background:rgb(105, 181, 233);
   border-style:none;
}
.wrapper nav ul li a{
    text-decoration:none;
    color: black;

}
.wrapper nav ul li:hover{
    background-color:rgb(124, 124, 215);
    text-decoration:none;
    color: white;
    opacity:0.6px;
}
.wrapper nav ul li a:hover{
    text-decoration:none;
    color:white;
    
}
